body {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e5e7eb;
    margin: 0;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {
    color: bisque;
}

.header {
    background-color: #1F2937;
    width: 80vw;
    padding: 25px 10vw;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
}

.header-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.navbar-chunk {
    display: flex;
    justify-content: space-between;
}

.header-chunk {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
    gap: 50px;
}

.header-chunk-content {
    width: 450px;
}

.header-chunk-content .header-p {
    margin: 15px 0;
}

.header-image {
    background-color: rgb(140, 142, 145);
    height: 220px;
    width: 300px;
    text-align: center;
    display: grid;
    place-items: center;
}

.header-text,
.header-p,
.sign-up-button {
    margin: 0;
}

.links {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 20px;
}

.sign-up-button {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: bolder;
    color: #e5e7eb;
    transition: background-color 0.5s;
}

.sign-up-button:hover {
    background-color: #3369c0;
    cursor: pointer;
}

.random-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    color: #1f2937;
}

#random-info {
    font-weight: bolder;
    font-size: 36px;
}

.randboxes {
    display: flex;
    gap: 20px;
}

.thebox {
    border-radius: 3px;
    border-color: #3882f6;
}

.inspiring-quote {
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.credit {
    font-weight: bold;
    font-style: normal;
}

.call-to-action {
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #3882f6;
    padding: 20px 120px;
    border-radius: 10px;
}

.call-to-action button {
    height: 30px;
    width: 100px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
    flex-shrink: 0;
    transition: color 0.5s, background-color 0.5s;
}

.call-to-action button:hover {
    background-color: white;
    color: #3882f6;
    cursor: pointer;
}

.call-text {
    font-weight: bold;
}

.call-to-action p {
    margin: 0;
    padding: 4px 0;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    padding: 30px;
}